API_KEY=xxxx
OAUTH_AUTHORIZATION_URL=https://www.bungie.net/en/OAuth/Authorize
OAUTH_TOKEN_URL=https://www.bungie.net/platform/app/oauth/token/
OAUTH_CLIENT_ID=xxx
OAUTH_CLIENT_SECRET=xxxx
OAUTH_REDIRECT_URI=https://127.0.0.1:28780/oauth/callback
